body {
  font-family: "Clear Sans", arial;
  background: #faf8ef;
  color: #776e65;
}

.App {
  text-align: center;
  margin-top: 6rem;
}

.App h1 {
  font-size: 3rem;
  margin: 0;
}

.App p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.App span {
  font-weight: bold;
}
