body {
  font-family: "Clear Sans", arial;
  background: #faf8ef;
  color: #776e65;
}

.App {
  text-align: center;
  margin-top: 10rem;
}

.App h1 {
  font-size: 2.5rem;
}

.App p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.App span {
  font-weight: bold;
}
