* {
  box-sizing: border-box;
}

body {
  font-family: "Clear Sans", arial;
  background: #faf8ef;
  color: #776e65;
}

.App {
  text-align: center;
  margin-top: 8rem;
}
/* #bbada0 */

.App h1 {
  font-size: 4rem;
  margin: 0 1rem 0 0;
}

.App p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.App span {
  font-weight: bold;
}
